{% extends "frontend/base.html" %}
{% block content %}
<title>MumboBot - Migration Info</title>
<h1>Mumbo Migration Info</h1>
<p>It with great sorrow to announce that Mumbo in his current form will begin to be phased out. As of today, May DATE
    GOES HERE, 2022, Mumbo cannot be invited to anymore server. Additionally, all commands will cease to work. This is
    because discord has refused to verify Mumbo and has barred the bot from reapplying. To continue using Mumbo, I
    encourage you to invite his new replacement, Mumbo Bot v1.0. This bot has been rewritten from the ground up to be
    faster, integrate slash commands, and add new features such as an easy to use control and settings panel. All server
    settings and user leveling data will be able to be migrated. To do so, invite the <a href="#">new bot</a> and run the /migrate
    command. This will begin the migration process. Should you encounter an error with the migration, feel free to
    contact me on discord. My tag is Leep#4160 .</p>
{% endblock content %}