{% extends "frontend/base.html" %}
{% block content %}
<title>MumboBot - Migration Info</title>
<h1>Mumbo Migration Info</h1>
<p>At this time, our new bot Mumbo Bot is out. We are requiring all existing Mumbo AFK users to migrate in order to continue using the bot.</p>
<h2>How</h2>
<h3>Kick</h3>
<p>Kick Mumbo AFK from your server</p>
<h3>Invite</h3>
<p>Invite Mumbo Bot using this link: <a href="{% url 'invite' %}">https://agradehost.com/invite</a></p>
<h3>Migrate</h3>
<p>After the new bot has joined, run the command /migrate. All data will then be automatically migrated to the old bot. If you have any questions, contact me at contact@agradehost.com or discord leep#4160</p>
<h2>Why</h2>
<p>In April 2022, Mumbo AFK had hit over 80 servers and as per Discord rules, we had to apply for verification to allow for Mumbo AFK to be able to continue expanding. At the same time, Mumbo Bot was reaching the end of its development. Unfortunately, discord informed up then that Mumbo AFK was violating a copy right in one of it's features. That issue has since been remedied but Mumbo AFK was barred from ever applying again. That is why we decided to fork the bot and migrate existing users over.</p>
<h2>When</h2>
<p>Migration is now available and will remain optional until June 1, 2022. After that, Mumbo AFK commands will stop working and counting channels will be frozen. On August 1, 2022, Mumbo AFK will be officially shutdown. All data will remain for migration up until the end of 2022 minimum.</p>
{% endblock content %}